.root {
  position: relative;
}

.input {
  padding: 12px 20px;
  padding-left: 42px;
  font-size: 16px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;

  &:focus {
    border: 2px solid #ccc;
  }
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 14px;
}

.icon_close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
